/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
  }
  *body {
    width: 1440px;
    height: 150px;
  }
  
  /* nav section styles */
  nav {
    background: #FFF;

   


    .follow-Us-btn{
      display: flex;
      gap: 16px;
      padding: 10px 16px;
      cursor: pointer;
    }
  }
  .nav-sytle{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .Logo {
    max-width: 85%;
    max-height: 100%;
    display: flex;
  }
  
  .Logo img {
    width: auto;
    object-fit: cover;
    max-height: 50%;
    margin-top: 25px;
  
  }
  
  .Logo p {
    font-size: 30px;
    margin-left: 20px;
  
  }
  
  .Nav-content {
    display: flex;
    flex-direction: none;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .Nav-items-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;

  }
  
  .Nav-items-content a {
    text-decoration: none;
  }
  
  /* banner section styles */

  .media-image-container{
 position: relative;


  }
  .media-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    color:#F948B2;
    opacity: 0;
}
    
.media-container:hover{
   opacity: 1;
    }
  .media-img{
    width: 48px;
  height: 48px;
  flex-shrink: 0;
  margin: 0 auto;

  }



  .Banner-Container{
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
     margin:0 auto;
    align-items: center;
    justify-content: center;
    gap:300px;
  }
  .Banner-Head h2{
    color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
  text-transform: uppercase;
  
  }
  .Banner-Head h1{
    text-align: center;
    margin-bottom:1px;
    margin-top:10px ;
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .style{
    color: #F948B2;
  }
  /*button section style*/
  .btn-primary{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    color: #fff;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  }

  .banner-image img{
    width:100%;
  }
  .btn-secondary{
    display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4EC5F7;
  color: #fff;
  border: none;
  margin-left: 20px;
  }

/* games section styles*/
  .Online-Games{
    text-align: center;
    overflow-x: hidden;
    
   
  }
  .Online-games-img{
    display: flex;
    justify-content:space-between;
    margin-left: 10px;
    margin-top: 15px;
    width:50%;

  }
    

.Information-details{
  width:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 0 auto;
}
  .Game-Information{
    max-width: 100px;
    margin: O auto;
    border: 1px solid #FFF;
  }
  .Game-Img1{
    margin-top: 10px;
  height: 100%;
  }
  .Game-Img1 img{
    height: 85%;
  }

  .Game-Img2{
    border-radius: 8px;
   color: #FFF;
    width: 300px;
    text-align: center;
    position: relative;
    bottom: 275px;
  }
/*games clasification style*/
.Games-clasification{
    width: auto;
    height: 300px;
    background: #fff;
}
   .clasification {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    
  }

  .clasification p {
    position: relative;
    text-align:center;
  }
  .Game-card{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 3px solid #fff;
    padding: 10px 16px;
    border-radius: 50px;

  }

  .Game-card:hover{
    border: 3px solid #F948B2;
  }
  /*footer section styles*/
  footer{
    background: #0B0223;
  }
  .amer{
  color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .Footer-Content{
    background-color:#210470;
    color: #FFF;
    width: 100%;
  }
  .Footer-Img{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 45px;
    gap: 20px;
    
  }

  .Footer-img-color{
    color: #FF42A5;
    font-size: px;
  }
  .Main-footer ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    cursor:pointer;
    
  }
  .Main-footer ul{
    list-style: none;
  
  }
  .icons>ul{
    display: flex;
    justify-content: center;
    gap:50px;
    font-size: 50px;
    color: #e2a2a2;
  }
  .policy ul{
    display: flex;
    justify-content: center;
    gap:50px;
    list-style: none;
  }
  .copyright{
    text-align: center;
  }
.policy{
  cursor: pointer;
}